*{
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Center everything on the page */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
h1{
    background-color: #091b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}



.choice:hover{
    cursor: pointer;
    transform: translateY(-8px) scale(1.05);
    box-shadow : 0 10px 20px rgba(0, 0, 0, 0.2);
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition : transform 0.2s ease, box-shadow 0.2s ease;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;    
}

.choices{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
}

#user-score,#computer-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 2rem;
}

#msg{    
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    font-size: 2rem;
    display: inline;
    border-radius: 1rem;
    padding: 1rem;
}

#round-info{
    margin-top: 2rem;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
}

#reset-btn{
    margin-top: 2rem;
    border-radius: 1rem;
    font-size: 2rem;
    background-color: gray;
}